.nav{
  border: 1px solid blue;
  width: 200px;
  text-align: center;
  background-color: blue;
  color: white;
  z-index: 10;
}
.App{
  display: flex;
}
.hor{
  border: 1px solid rgb(72, 72, 206);
  height: 80px;
  width: 100%;
  text-align: center;
  background-color: rgb(72, 72, 206);
  color: white;
  
}
.hor img{
  float: left;
  margin: 5px;
}

.colors{
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 20px;
  margin-left: 170px;
  text-align: center;
 
}
.red{
 
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 1px solid red;
  background-color: red;
  border-radius: 10px;
  color: white;
  padding-left: 20px;
  align-items: center;
  justify-content: center;
}

.green{
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin: 20px;
  color: white;
  padding-left: 20px;
}

.purple{
  border: 1px solid purple;
  background-color: purple;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin: 20px;
  color: white;
  padding-left: 20px;
}

.menu{
  display: flex;
  margin-left: 60px;
  justify-content: center;
}
.box{
  border: 1px solid gray;
  width: 150px;
  height: 150px;
  margin: 30px;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}
